
body{
    background-color: rgb(241, 233, 237);
  }
  h1{
      color: rgb(5, 92, 168);
      text-align: center;
      font-size: 50px;
  }
  #clock{
    width: 50%;
    font-size: 5em;
    text-align: center;
    /* margin-left: 4em;
    margin-top: 2em; */
    margin:auto;
    background-color: black;
    color: white;
  }
  
  @media only screen and (max-width: 850px) {
    #clock {
      font-size: 2em;
      
    }
  }
  @media only screen and (max-width: 400px) {
    #clock {
      font-size: 1em;
    }
  }
  /* #clock2{
    margin-left:0px;
  } */